---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";
import ProjectFilter from "../components/Projects/ProjectFilter.svelte";
import ProjectGallery from "../components/Projects/ProjectGallery.svelte";

const projects = await getCollection("projects");
---

<Base title="Projects I've worked on">
  <div>
    <header class="text-start py-12 px-5">
      <h1 class="text-4xl text-gray-100 bg">Projekte</h1>
      <p class="text-gray-300 text-lg pt-4">
        Eine Auswahl an Projekten, an denen ich gearbeitet habe.
      </p>
    </header>
    <main class="mx-auto flex justify-center">
      <div
        class="grid gap-x-6 gap-y-12 mt-6 mx-6 md:mx-12 md:grid-cols-2 lg:grid-cols-3"
      >
        <div class="col-span-full inline-flex justify-between w-full">
          <ProjectFilter client:only="svelte" />
        </div>
        <ProjectGallery projects={projects} client:only="svelte" />
      </div>
    </main>
  </div>
</Base>
