---
import { languages } from "../../constants.ts";
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<!-- TODO: Make it a switch as long as we only provide two languages -->
<!-- TODO: Enshure that clicking the language-switch keeps the user on the same page ( not forward to '/' ) -->
 
 {
    Object.entries(languages).map(([lang, label]) => (
        <div>
            <a href={translatePath('/', lang)}>{label}</a>
        </div>
    ))
}
